body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background-color: #FFF8DC;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    text-decoration: none;
}

/*HEADER*/
.header {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background: #4d99a5;
}

@media (max-width: 400px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .week_table{
        min-width: 200px;
    }
}
.hidden{
    display: none !important;
}
td:hover{
    background: yellow;
    cursor: pointer;
}
.active{
    background: yellow;
}
.notdone{
    background: lightcoral;
}
.done{
    background: lightgreen;
}
.close{
    background: darkkhaki;
}
.headerMonth{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}
.paid{
    border:3px solid lightgreen;
}
.notpaid{
    border:3px solid lightcoral;
}
.notpaid.close{
    background: none;
    border: 0px;
}
.main{
    display:flex;
    justify-content: space-around;
}
.menu {
    border: 5px solid black;
    display: inline-block;
}
.menu_button{
    display: block;
}
.week_table{
    min-width: 300px;
}
.week_table th{
    border:1px solid black;
}
.support div{
    display: inline-block;
}
.create_block_checkbox{
    display: inline-block;
}

/*FOOTER*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: -75px auto 0;
    display: flex;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    background: #4d99a5;
}
